<div class="row">

  <div class="small-12 column">
    <%= back_link_to admin_feasibility_analysis_departments_path %>

    <h1><%= t("admin.departments.new.title") %></h1>

    <%= render "form" %>
  </div>
</div>
