<% if @electors.empty? %>
  <div class="callout primary margin-top">
    <%= t("admin.electoral_college.elector.no_electors") %>
  </div>
<% else %>
  <p class="download-link inline-block">
    <%= link_to t("admin.electoral_colleges.elector.result_spreadsheet"),
      admin_poll_electoral_colleges_path(@poll, csv_params),
      class: "small"
    %>
  </p>

  <%= render "electors_table" %>

  <%= paginate @electors %>
<% end %>
