<%= back_link_to %>

<h2 class="margin-top">
  <%= t("admin.electoral_colleges.new.title") %>
</h2>

<div class="poll-question-form">
  <%= render "form", form_url: admin_poll_electoral_colleges_path(@poll) %>
</div>
