<div id="poll-resources">
  <h3><%= t("admin.results.index.title") %></h3>

  <% if @partial_results.empty? %>
    <div class="callout primary margin-top">
      <%= t("admin.results.index.no_results") %>
    </div>
  <% else %>
    <%= render "edition/poll/recounts/results_totals",
      stats: @booth_assignment,
      explanations: @booth_assignment.recounts.with_difference_explanation
    %>
    <%= render "edition/poll/recounts/results_questions" %>
  <% end %>
</div>
