<%= back_link_to %>

<h2 class="margin-top"><%= t("admin.electoral_colleges.edit.title") %></h2>

<div class="poll-question-form">
  <%= render "form", form_url: edition_poll_electoral_college_path(@poll) %>
</div>
