<% provide :title do %><%= @process.title %><% end %>

<%= render "legislation/processes/header", process: @process, header: :full %>

<%= render "documents/additional_documents", process: @process %>

<%= render "legislation/processes/key_dates", process: @process, phase: :topics_phase %>

<div class="row column">

</div>
