<div id="results-subnav" class="row padding-top">
  <div class="small-12 column">
    <ul class="menu simple clear">
      <% budget_subnav_items_for(budget).each do |item| %>
        <% if item[:active] %>
          <li class="is-active">
            <h2><%= item[:text] %></h2>
          </li>
        <% else %>
          <li><%= link_to item[:text], item[:url] %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
