<div class="row">

  <div class="small-12 column">
    <%= back_link_to feasibility_analyzable_path %>

    <h1><%= t("admin.feasibility_analyses.new.creating") %></h1>

    <%= render "form" %>
  </div>
</div>
