<%= back_link_to edition_polls_path, t("polls.show.back") %>

<h2><%= t("admin.active_polls.edit.title") %></h2>

<div class="polls-form">
  <%= render "form", form_url: admin_active_polls_path(@active_poll) %>
</div>
