<% provide :title do %>
  <%= "#{t("admin.header.title")} - #{t("admin.progress_bars.index.title")}" %>
<% end %>

<%= back_link_to polymorphic_path([:edition, *resource_hierarchy_for(@progressable)]) %>

<div class="clear"></div>

<%= render "edition/progress_bars/progress_bars", progressable: @progressable %>
