<div id="<%= dom_id(question) %>" class="poll-question">
  <h3 class="no-margin-bottom">
    <%= question.title %>
  </h3>

  <div id="<%= dom_id(question) %>_answers" class="padding-bottom">
    <%= render "polls/questions/answers", question: question, token: token %>
  </div>
</div>
