<%= render "/admin/poll/polls/poll_header" %>

<div id="poll-resources">
  <%= render "/admin/poll/polls/subnav" %>

  <% if @poll.voters.any? %>
    <%= render "show_results", resource: @poll %>
  <% end %>
</div>
