<p>
	<%= link_to t('admin.tags.create.title'), new_admin_tag_path,
    class: "button" %>
</p>

<hr>

<%= render "categories", resource: @category_tags %>
<%= render "subprefectures", resource: @subprefecture_tags %>
<%= render "districts", resource: @district_tags %>