<%= back_link_to admin_tags_path, t("admin.tags.back") %>

<h2><%= t("admin.tags.index.add_tag") %></h2>
<p><%= t("admin.tags.index.help") %></p>

<%= render "form", form_url: admin_tags_path(@tag) %>