<div class="tabs-panel tab-feasibility-analyses" id="tab-feasibility-analyses">
  <%= render "feasibility_analyses/feasibility_analyses_content", feasibility_analyzable: feasibility_analyzable %>
</div>
