<ul class="menu simple clear">
  <% open_gov_tabs.each do |tab_name, path| %>
    <% if active == tab_name %>
      <li class="is-active">
        <h2><%= t("admin.open_gov.subnav.#{tab_name}") %></h2>
      </li>
    <% else %>
      <li>
        <%= link_to t("admin.open_gov.subnav.#{tab_name}"), path %>
      </li>
    <% end %>
  <% end %>
</ul>
