<ul class="menu simple clear">
  <% if current_user.administrator? %>
    <% tabs = legislation_process_tabs(process) %>
  <% elsif current_user.editor? && process.editable? %>
    <% tabs = edition_legislation_process_tabs(process) %>
  <% elsif current_user.editor? && !process.editable? %>
    <% tabs = edition_finished_legislation_process_tabs(process) %>
  <% end %>

  <% tabs.each do |tab_name, path| %>
    <% if active == tab_name %>
      <li class="is-active">
        <h2><%= t("admin.legislation.processes.subnav.#{tab_name}") %></h2>
      </li>
    <% else %>
      <li>
        <%= link_to(t("admin.legislation.processes.subnav.#{tab_name}"), path) %>
      </li>
    <% end %>
  <% end %>
</ul>
