<div class="feed-content" data-equalizer-watch>
	<% article_group.each do |article| %>
		<div class="debate feed-description">
			<strong><%=  link_to article.title, open_gov_article_path(article) %></strong>
			<p><%= format_date(article.created_at) %></p>
		</div>
	<% end %>
</div>
