<div class="feed-content" data-equalizer-watch>
	<% article_group.each do |article| %>
		<div class="debate">
			<strong><%=  link_to article.title, open_gov_article_path(article) %></strong>
		</div>
	<% end %>
</div>
