<ul class="menu simple clear" id="filter-subnav">
  <li class="show-for-sr"><%= t("open_gov.index.filter") %>: </li>

  <% @valid_filters.each do |filter| %>
    <% if @current_filter == filter %>
      <li class="is-active">
        <h2><%= t("open_gov.index.filters.#{filter}") %></h2>
      </li>
    <% else %>
      <li><%= link_to t("open_gov.index.filters.#{filter}"),
        current_path_with_query_params(filter: filter) %></li>
    <% end %>
  <% end %>
</ul>
