<% if resource %>
  <div class="balloting-result-flag winner <%= lines %>">
    <span>
      <%= t("admin.open_gov.tags.fineshed") %>
    </span>
  </div>
<% else %>
  <div class="balloting-result-flag in-progress <%= lines %>">
    <span>
      <%= t("admin.open_gov.tags.not_fineshed") %>
    </span>
  </div>
<% end %>