<% provide :title do %>
	<%= @article.title %>
<% end %>

<div class="row">
  <div class="small-12 medium-9 column">
    <%= back_link_to(open_gov_articles_path, t("shared.back")) %>

    <h2><%= @article.title %></h2>

    <%= auto_link_already_sanitized_html(AdminWYSIWYGSanitizer.new.sanitize(@article.text)) %>
  </div>
</div>


