// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
.small-link-form {
  font-size: $small-font-size;
  margin: -1rem 0;
}

.login-options {
  font-family: $subheader-font-family;
  margin-right: $global-margin;
  border-bottom: 3px solid $brand;
  transition: border-bottom 0.5s;
  text-transform: uppercase;
  &:hover {
    box-sizing: border-box;
    border-bottom: 3px solid $purple;
    a {
      text-decoration: none;
    }
  }
}

.main-tabs {
  background: $lighter-gray;
  text-transform: uppercase;

  ul > li > a {
    color: $dark-gray;

    &:hover {
      color: $darker-gray;
      text-decoration: none;
    }
  }
}

.gradient-border {
  border-top: 0.6rem solid;
  border-image-source: linear-gradient(to left, $pink, $yellow);
  border-image-slice: 1;
}
