// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//
.small-link-form {
  font-size: $small-font-size;
  margin: -1rem 0;
}

.subtitle-font-family {
  font-family: $subheader-font-family;
}
