<div class="sidebar-divider"></div>
<h2 class="sidebar-title"><%= t("shared.tags_cloud.categories") %></h2>
<br>

<ul id="categories" class="no-bullet categories">
  <% @categories.each do |tag| %>
    <li class="inline-block">
      <% tag_search = tag.name %>

      <% if params[:tag] == tag.name %>
        <% css_class = { class: "is-active" } %>
      <% else %>
        <% css_class = nil %>
      <% end %>

      <% tag_search = "" if css_class == { class: "is-active" } %>

      <%= link_to tag.name,
            budget_investments_path(@budget, tag: tag_search, heading_id: params[:heading_id]), css_class || {} %>
    </li>
  <% end %>
</ul>
