<h2 class="inline-block">
  <%= t("admin.legislation.topics.index.title") %>
</h2>

<%= link_to(
  t(
    "admin.legislation.topics.index.new_topic",
    title: @topic_levels.first.downcase_title
  ),
  new_admin_legislation_process_topic_path(
    legislation_topic: { legislation_topic_level_id: @topic_levels.first.id }
  ),
  class: "button float-right margin-right"
) %>

<% counter_level = 1 %>
<% @topics.each.with_index(1) do |topic, index| %>
  <%= render 'topic',
    topic: topic, indexes: [index], counter_level: counter_level
  %>
<% end %>
